<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home | Housie</title>
</head>
<body>
    <div id="joining" style="text-align: center;">
        <h1>Welcome to Housie</h1>
        
            username: <input id="username" type="text" name="username" >
            <br>
            roomId : <input id="roomId" type="text" name="roomId">
            <br>

            <button id="btnJoin" onclick="joinRoom()">Join</button>
            <br>
            <button id="getlist" onclick="getList()">Get list</button>

        
    </div>

    <div id="gaming" style="display: none;">
        gaming
    </div>
    
    <script src="/socket.io/socket.io.js"></script>
    <script src="/scripts/home.js"></script>
</body>
</html>