

.container{
    width: auto;
    margin: 0 auto;
    /* display: inline; */

}
.title{
    color: black;
    font-size: 50px;
    font-style: italic;
    font-weight: 600;    
}
#joining{
    /* margin-top: 15%;
    margin-left: 28%; */
    text-align: center;
    /*background: lavenderblush;*/
    /* width: 40%; */
    padding: 3%;
    border-radius: 20px;
    background: repeating-linear-gradient(0deg,
    #99d7e2,
    #99d7e2 40px,
    #37c8c8 80px,
    #37c8c8 80px);
    width: 70%;
    margin: 0 auto;
}
.inpspan{
    color: black;
    font-size: 28px;
    padding: 2px;
    /* background-color:gray; */
    border-color: darkslategrey;
    border-width: 2px;
    border-radius: 5px;
    
    
}


#waiting{
    /* position: fixed; */
    width: 80%;
    display: none;
    text-align: center;
    /* margin: 20%; 
    margin-right: 30%;
    margin-top: 5%; */
    background-color: rgb(222, 233, 238);
    padding: 2%;
    border-radius: 20p;
    padding: 2%;
    border-radius: 20px;
    margin: 0 auto;
}
#userList{
    /* position: absolute; */
    /* right: 0; */
    /* top:0; */
    /* margin: 5%; */
    font-size: 25px;
    font-weight: 300;
    background: rgb(222, 233, 238);
    padding: 2%;
    width: 80%;
    margin: 0 auto;
    border-radius: 20px;
    margin-top: 5%;
    /* width:   %; */
    /* width: 20%;
     margin-top: 5% */
    right: 0;
    
}
#info{
    border-radius: 50%;
    position: fixed;
    right: 0;
    display: none;
    margin-right: 5px;
}
#closeInfo{
    border-radius: 50%;
    position: fixed;
    right: 0;
    display: none;
    margin-right: 5px; 
    top: 5px;     
}
#userListGaming{
    font-size: 25px;
    font-weight: 300;
    background: rgb(69, 135, 165);
    /* padding: 2%; */
    width: 40%;
    /* margin-left: 2px; */
    /* margin: 0 auto; */
    border-radius: 10px;
    /* top: 5px; */
    position: relative;
    /* width:   %; */
    /* width: 20%;
     margin-top: 5% */
    /* right: 0; */
    float: right;
    overflow-y: scroll;
    height:200px ;
}
#getlist{
    margin-right: 16px;
}
/*#gaming{
    text-align: center;
    margin-top: 15%;
}*/
#ticket{
    
    text-align: center;
    /* margin-top: 45px; */
    position: fixed;
    bottom: 10px;
    left: 20%;
    right: 20%;

    width: auto;
    margin: 0 auto;
    
   /* margin-top: 50%;*/
} 

/*.decor{
    display: inline;
    text-align: "center";
    margin: 4%; 

}
/*button{
    background-color: darkslategray;
    color: white;
    padding: 1.6%;
    width: auto;   
}*/ 
button:hover{
    background-color: rgb(174, 184, 177);
}
body{
    height: 100%;
    /*background: repeating-linear-gradient(0deg,
    #6767e7,
    #6767e7 40px,
    #2265a8 80px,
    #2265a8 80px);*/
    background-color: rgb(12, 90, 141);
}
/*#inp{
    width: 50%;
}*/
#btnJoin{
    background-color: darkslategray;
    color: white;
    padding: 2%;
    font-size: 20px;
    /* width: 80px; */
    
}
.btnTicket{
    width: 50px;
    height: 50px;
    font-size: 30px;
    
}
.btnTicketD{
    background-color: gray;
    width: 50px;
    height: 50px;
    font-size: 30px;
}
.btndis{
    background-color: gray;
}

#username{
    background-color: white;
    padding: 1%;
    /* margin-left: 2%; */
    /* background-color: lightgray; */
    border-color: darkslategrey;
    border-width: 2px;
    border-radius: 5px;
}
#roomId{
    background-color: white;
    padding: 1%;
    /* margin-left: 7%; */
    border-radius: 5px;
    /* background-color: lightgray; */
    border-color: darkslategrey;
    border-width: 2px;
}
.decor{
    background-color: green ;
    color: white;
    padding: 2%;
    font-size: 20px;
    /* width: 120px; */
}
#gaming{
    /* background-color: #37c8c8; */
    
    padding: 1px;
    /* height: 400px; */
    /* overflow: scroll; */
}
#gamescroll{
    /* position: fixed; */
    /* height: 150px; */
    margin-top: 2px;
    padding: 1%;
    height: 80px;
    /* overflow: scroll; */
    overflow-x: hidden;
    overflow-y: scroll;
    /* position: fixed; */
    bottom: 340px;
    /* float: left; */
    width: 80%;
}
.ballPicked{
    /* width: max-content; */
    /* text-align: center; */
    /* width: 70;
    height: 70%; */
    font-size: 50px;
    /* font-size: 30px; */
    /* border-radius: 50%; */
    /* background-color: rgb(250, 84, 84); */
    color:rgb(250, 84, 84);

}
.btnTicket:disabled{
    background-color: black;
    color: white;
}
#picked{
    background-color: honeydew;
    border-radius: 5px;
    text-align: center;
    padding: 1%;
    width: 35%;
    margin: 0 auto;
    border-bottom: 6%;
    position: fixed;
    bottom: 170px ;
}
#newNumber{
    background-color: honeydew;
    text-align: center;
     /* padding: 1%; */
    width: 35%;
    margin: 0 auto;
    border-top: 6%;
    border-radius: 5px;
}
#board{
    background-color: honeydew;
    padding: 1%;
    width: 100%;
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 2px;
    float: none;

    
}
#scoreBoard{
    background-color: honeydew;
    padding: 2%;
    left: 0;
    width: 50%;
    border-radius: 10px;
    margin: 0 auto;
    top: 5px;
    float: left;
}
#balls{
    display: inline;
    text-align: left;
}
.ball{
    background-color: aquamarine;
    width: fit-content;
    border-radius: 50%;
    /* size: 20%; */
    width: 40px;
    height: 40px;
    font-size: 30px;
    margin-left: 2%;

    
}

@media screen and (max-width:800px){
    #userList{
        /* position: relative; */
        
        right: auto;
    }
    .title{
        /* background-color: green; */
        font-size: 20px;

    }
    #waiting{
        width: 95%;
    }
    #joining{
        width: 95%;
    }
    .ball{
        width: 25px;
        height: 25px;
        font-size: 20px;
    }
    #ticket{
        left: 0  ;
        right: 0;
    }
    .btnTicket{
        width: 30px;
        height: 30px;
        font-size: 15px;
    }
    .btnTicketD{
        width: 30px;
        height: 30px;
        font-size: 15px;
    }
    #scoreBoard{
        width: 95%;
        padding: 1%;
        float: none;

    }
    #picked{
        bottom: 110px;
    }
    .inpspan{
        display: none;
    }
    #username{
        width: 60%;
        height: auto;
    }
    #roomId{
        width: 60%;
    }
    #userListGaming{
        display: none;
        position: absolute;
        /* left: 100; */
        /* opacity: 0.8; */
        /* float: right; */
        top: 5%;
        width: 95%;
    }
    #gamescroll{
        width: 95%;

    }
    #info{
        display: block;
        top: 5px;
    }

    

}