

.container{
    width: auto;
    margin: 0 auto;
    display: inline;

}
.title{
    color: black;
    font-size: 50px;
    font-style: italic;
    font-weight: 600;    
}
#joining{
    /* margin-top: 15%;
    margin-left: 28%; */
    text-align: center;
    /*background: lavenderblush;*/
    /* width: 40%; */
    padding: 3%;
    border-radius: 20px;
    background: repeating-linear-gradient(0deg,
    #99d7e2,
    #99d7e2 40px,
    #37c8c8 80px,
    #37c8c8 80px);
    width: 70%;
    margin: 0 auto;
}
.inpspan{
    color: black;
    font-size: 28px;
    padding: 2px;
    /* background-color:gray; */
    border-color: darkslategrey;
    border-width: 2px;
    border-radius: 5px;
    
    
}


#waiting{
    width: 80%;
    display: none;
    text-align: center;
    /* margin: 20%; 
    margin-right: 30%;
    margin-top: 5%; */
    background-color: rgb(222, 233, 238);
    padding: 2%;
    border-radius: 20p;
    padding: 2%;
    border-radius: 20px;
    margin: 0 auto;
}
#userList{
    /* position: absolute; */
    /* right: 0; */
    /* top:0; */
    /* margin: 5%; */
    font-size: 25px;
    font-weight: 300;
    background: rgb(222, 233, 238);
    padding: 2%;
    width: 80%;
    margin: 0 auto;
    border-radius: 20px;
    margin-top: 5%;
    /* width:   %; */
    /* width: 20%;
     margin-top: 5% */
    right: 0;
    
}
#getlist{
    margin-right: 16px;
}
/*#gaming{
    text-align: center;
    margin-top: 15%;
}*/
#ticket{
    
    text-align: center;
    margin-top: 45px;
    
   /* margin-top: 50%;*/
} 

/*.decor{
    display: inline;
    text-align: "center";
    margin: 4%; 

}
/*button{
    background-color: darkslategray;
    color: white;
    padding: 1.6%;
    width: auto;   
}*/ 
button:hover{
    background-color: rgb(174, 184, 177);
}
body{
    /*background: repeating-linear-gradient(0deg,
    #6767e7,
    #6767e7 40px,
    #2265a8 80px,
    #2265a8 80px);*/
    background-color: rgb(12, 90, 141);
}
/*#inp{
    width: 50%;
}*/
#btnJoin{
    background-color: darkslategray;
    color: white;
    padding: 2%;
    font-size: 20px;
    /* width: 80px; */
    
}

#username{
    background-color: white;
    padding: 1%;
    /* margin-left: 2%; */
    /* background-color: lightgray; */
    border-color: darkslategrey;
    border-width: 2px;
    border-radius: 5px;
}
#roomId{
    background-color: white;
    padding: 1%;
    /* margin-left: 7%; */
    border-radius: 5px;
    /* background-color: lightgray; */
    border-color: darkslategrey;
    border-width: 2px;
}
.decor{
    background-color: green ;
    color: white;
    padding: 2%;
    font-size: 20px;
    /* width: 120px; */
}
#gaming{
    text-align: center;
}
#picked{
    background-color: honeydew;
    padding: 1%;
    width: 35%;
    margin: 0 auto;
    border-bottom: 6%;
}
#newNumber{
    background-color: honeydew;
    padding: 1%;
    width: 35%;
    margin: 0 auto;
    border-top: 6%;
}
#board{
    background-color: honeydew;
    padding: 1%;
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    
}
#scoreBoard{
    background-color: honeydew;
    padding: 2%;
    left: 0;
    width: 40%;
    border-radius: 10px;
    margin: 0 auto;
}

@media screen and (min-width:800){
    #userList{
        /* position: relative; */
        right: auto;
    }
    .title{
        background-color: green;
        font-size: 20px;
    }
    
}